<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBCzgGjXZVht5m70mcsxq0pCxGQCufcJfY</string>
	<key>GCM_SENDER_ID</key>
	<string>70178944183</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatterbox.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>chatterbox-891ae</string>
	<key>STORAGE_BUCKET</key>
	<string>chatterbox-891ae.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:70178944183:ios:3aa4262ebff095cc8cc932</string>
</dict>
</plist>